/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

/* custom-slick.css */

.noSelect {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.noSelect:focus {
    outline: none !important;
}

/* css style for the forexcharts styling */
.chart-container {
    background-color: #1c1c1c;
    color: #ccc;
    border:1px solid gray;
  }
  
  h1 {
    color: #1b6e4e;
    text-align: center;
  }
  
  .recharts-wrapper {
    margin: auto;
  }
  
  .recharts-cartesian-axis-tick-value {
    fill: #ccc;
  }
  
  .recharts-tooltip-wrapper {
    background-color: #fff;
    color: black;
  }
  
  .recharts-legend-wrapper {
    color: #ccc;
  }